.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.wrapper-content {
  display: flex;
  justify-content: space-between;
  width: 700px;
}

form {
  display: flex;
  flex-direction: column;
}

.buttons-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 10px 0;
}
